__pycache__
Resultados/report_Map_Montecarlo.html
report_Montecarlo_1mi.html
report_Map_Montecarlo.html
report_Map_Montecarlo_1.html
report_Map_Montecarlo_2.html
Dados/Thumbs.db
Resultados/Thumbs.db

*MCvectors.feather
Gráficos
Resultados
